# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.Rproj.user
test_OpenMP/test_OpenMP

# Rstudio project
Survival.Rproj
.Rhistory

# executables
survival

# temp files (makefile)
dep.mk

# R/Rstudio files
Survival.Rproj

# latex sources
Documentation/latex
Documentation/latex/*
Documentation/latex/*.*

# MD previews
INSTALLATION.html
README.html
RUN_EXAMPLE.html

# Mac
.DS_Store


